[2014-12-17 16:16] simnalamburt opened #1 "Add picture of mundo"
Need to crop it

![](http://ddragon.leagueoflegends.com/cdn/img/champion/splash/DrMundo_0.jpg)

[2014-12-31 00:06] simnalamburt opened #3 "Merge reasonable pull requests as much as possible"
- [x] https://github.com/sjl/gundo.vim/pull/30
- [x] https://github.com/sjl/gundo.vim/pull/29
- [x] https://github.com/sjl/gundo.vim/pull/28
- [x] https://github.com/sjl/gundo.vim/pull/27
- [x] [dsummersl/gundo.vim](https://github.com/dsummersl/gundo.vim)

[2015-03-05 18:17] dsummersl commented on #3
Sounds good @simnalamburt I'll get my project up to date with yours and submit a PR soonish.

[2015-03-06 08:01] simnalamburt commented on #3
Thank you very much!

[2015-03-07 02:36] simnalamburt opened #5 "Error if you press 'j' in Gundo graph pane"
Error Reproduction
--------
1.  Place cursor at the bottom of the gundo pane like below:

    ![](http://i.imgur.com/6qbMgev.png)

2.  Press `j`

3.  You'll get below:

    ![](http://i.imgur.com/p2Md0OL.png)

[code]

Cause
--------
`generate` function makes trailing empty line

[code]

Solutions
--------
1. Don't let `ascii` function make empty line
2. Don't let `generate` function make empty lin

[2015-03-07 03:22] dsummersl commented on #5
ah, good catch! Any of those fixes you suggest would do; I think I prefer the first one.

Something like this?

https://gist.github.com/dsummersl/579749d69eed412ec1b5

[2015-03-07 03:23] dsummersl commented on #5
also notice i left an `echom` - I'll commit a fix to take that out and this gist change above if it looks okay to youl.

[2015-03-07 03:23] dsummersl commented on #5
oh - hah - you already did it!

[2015-03-07 03:38] #5 closed

[2015-03-09 20:17] dsummersl commented on #3
I like slj#27 (plus they include doc updates in the PR, which is nice :)). Sound good?

[2015-03-10 03:17] simnalamburt commented on #3
Sounds not bad. Looks like we need some rebase process.

[2015-03-10 12:51] dsummersl commented on #3
For...j3master to rebase against our fork? (sorry little confused about what you meant).

In the meantime I've added j3master's fork as a remote and merged it into a new branch to make this PR:

https://github.com/simnalamburt/vim-mundo/pull/7

Could you take a peak when you get a chance - I played with a couple combinations of settings and it appears to work as advertized. I *do* like it even.

[2015-03-11 10:15] simnalamburt commented on #3
Sorry for confusion, you did what I wanted

[2015-03-11 10:15] #3 closed

[2015-03-20 21:05] phongvcao opened #8 "Error: Cannot load Gundo with newest version of Vim (Vim 7.4 Patches 1-663)"
Hi,

I was trying to open Gundo today and here were the error messages it gave me:
[code]
I am using Vim 7.4 Patches 1-663 with +python3 support on Arch Linux. It seems that there have been some changes to Vim which conflict with Gundo. Also, it seems that Gundo cannot pickup the fact that I am running Vim +python3 instead of +python. The s:has_supported_python was reset to 0 everytime I launch Gu

[2015-03-20 21:35] dsummersl commented on #8
Looks like the issue is that we don't support python 3. I'll look into fixing that this weekend. Thanks for the stack trace!

[2015-03-20 22:14] phongvcao commented on #8
@dsummersl I was actually using simnalamburt/vim-mundo instead of the original Gundo which has the variable g:gundo_prefer_python3 set to 1. Thus, Gundo (or vim-mundo) should have run just fine.

[2015-03-21 03:05] simnalamburt commented on #8
Acknowledged, looks like python3 support have been dropped accidentally during the recent breaking change of vim-mundo source code. Will be fixed in 2 day.

[2015-03-22 13:34] simnalamburt commented on #8
@phongvcao I've fixed that issue but it seems there's more to fix. How did you get the stack trace?

[2015-03-22 14:30] #8 closed

[2015-03-22 14:34] simnalamburt opened #10 "Better TDD"
Consider using [vader.vim](https://github.com/junegunn/vader.vim)

[2015-03-22 14:35] simnalamburt commented on #8
@phongvcao Thanks for your report, please let us know if there's any other problem using vim-mundo :+1:

[2015-03-22 15:06] phongvcao commented on #8
@simnalamburt thanks guys it is working perfectly now... :dancers:

[2015-04-29 20:41] simnalamburt opened #11 "Performance"
For some reason, `vim-mundo` just got very slow for large files. This should be fixed.

[2015-05-04 14:58] dsummersl commented on #11
Definitely - any good example file/size?

[2015-05-05 11:01] simnalamburt commented on #11
I was working with some quite large file like 100KB and It took me more than 5 second to open Gundo tab. I'm going to do some profiling if this problem occurs again to me.

[2015-05-18 13:21] starcraftman commented on #11
@simnalamburt I just noticed the sluggishness too. It has to do with the inline_undo functionality. If this can't be made faster, it should probably be opt in.

[2015-05-18 13:22] dsummersl commented on #11
Oh funny I thought it was. I'll take a look. Thx for the feedback.

[2015-05-18 13:30] starcraftman commented on #11
@dsummersl No problem. Thanks for picking up where sjl left off. Odd how he just stopped, just like kien. :/

[2015-05-18 13:39] dsummersl commented on #11
I'm going to leave this open - clearly that feature needs to be improved.

[2015-05-25 12:21] Gordin commented on #11
I'm not sure if https://github.com/simnalamburt/vim-mundo/commit/47d95c19b6be69260a1d448da1c54a9d3351955c was supposed to fix this completely, but my vim is still completely unusable while the Gundo tab is open in the current version. Not only in the Gundo window, also everything else is slow, just doing j/k movements in any other window takes about 3 seconds before the cursor moves. Also, I'm not

[2015-05-25 13:10] starcraftman commented on #11
@Gordin Could be perhaps I shouldn't have been so definite saying what the origin was. I was only indicating what I thought was making this fork slower then gundo. Gundo itself has always been a bit sluggish going j/k imo.

Ultimately, probably only gonna get fixed until somebody does profiling/tracing of the func calls.

[2015-05-25 14:54] dsummersl commented on #11
@Gordin definitely believe that - I know that gundo/mundo both draw the entire history. I'm not sure how amenable the graphlog algorithm is to partial redrawing, but I like the idea of only computing/drawing that which is on screen. There are more memoization opportunities, for sure.  I'll look into this as soon as I can, but if you see something or have suggestions I'm all ears :)

[2015-05-25 14:55] dsummersl opened #12 "Selecting an entry in the history tree doesn't always 'take'."
I notice sometimes that when I select an issue in my history tree, the main file doesn't update.

[2015-05-25 15:21] Gordin commented on #11
@dsummersl I didn't look into the code at all but this sounds like Gundo is recomputing the tree every time anything happens in vim? If this is the case, thats the problem, isn't it? I'm not sure how showing the graph is handled, but it seems like most problems would be fixed by just not doing anything unless an item is added to the untotree or the Gundo tab needs to scroll?

[2015-05-27 13:03] dsummersl commented on #11
https://github.com/simnalamburt/vim-mundo/pull/13

@Gordin I revisited the source and discovered that there were already guards to do what you describe, but they weren't working. I've made a PR that fixes this.

WRT repainting only whats visible I guess what I was trying to describe would address startup time. If the graph algorithm supports partial tree rendering (maybe it does?), then we could i

[2015-05-27 13:04] dsummersl opened #14 "Improve startup time"
When the gundo window is first opened it paints the entire undo history to the window, which can be slow for large undo histories. Render only what is visible to speed this up. We're doing the same thing now for the `g:gundo_inline_undo` feature, is its a bit slow. Do the same thing for the tree itself.

[2015-05-27 13:05] dsummersl commented on #11
https://github.com/simnalamburt/vim-mundo/issues/14

[2015-05-29 12:04] dsummersl opened #15 "Rebrand plugin"
Change `gundo` to `mundo` named variables? Maybe not - that would require those upgrading from the old plugin to rename their variables...

But - rename `gundo.txt` to `mundo.txt`, and make the changelog 3.X the official 3.0 release.

[2015-05-29 14:22] simnalamburt commented on #15
Absolutely agree with this. It's been half year since I forked this and stil sjl is sleeping (while he is [stil alive](https://bitbucket.org/sjl/dotfiles/commits/all)).

I'm 100% agree with rebranding this plugin so that we can publicize this not hidden by original [Gundo](http://sjl.bitbucket.org/gundo.vim/). But about variables, I don't want to break their experience if there's any good possible

[2015-06-16 16:46] Stebalien commented on #12
Same problem here.

[2015-06-29 19:37] wreed4 commented on #12
I agree.  Was just going to file an issue about this.  I dont' know how to fix it, but sometimes exiting and entering again makes it work again.  I've mostly been using neovim, but this also happens in regular vim.

[2015-06-30 14:49] dsummersl commented on #12
Thanks for the feedback @wreed4 - I think https://github.com/simnalamburt/vim-mundo/pull/13 is gonna fix this. In the final bit of testing.

[2015-07-07 16:04] #11 closed

[2015-07-07 16:05] dsummersl commented on #12
Issue #13 has gone out - I haven't seen this problem since. If someone does please let me know.

[2015-07-13 16:54] dsummersl commented on #14
I did some performance testing of of the tree rendering code - it isn't the limiting factor. Turning off `g:undo_inline_undo` by default is the best I think we can do here.

[2015-07-13 16:57] dsummersl opened #16 "Pressing the `?` key doesn't updated the Gundo screen."
It also appears to jump out of the main screen after ? is pressed. The 'top' line you can jump to appears to be correct in the Gundo screen, but the help section is not rendered.

[2015-07-13 16:59] dsummersl opened #17 "Only the __Gundo_Preview__ window appears when :GundoToggle is called after the 'd' diff featuer is used."
For some reason after the `d` diff with change feature is used the main Gundo window doesn't appear after subsequent Gundo toggles.

[2015-08-08 20:58] benbarbour opened #18 "Gundo requires vim to be compiled with python 2.4+ (using neovim)"
I'm using the latest neovim (at the time of writing I *just* got the source and built it) and I get the titular error when trying to invoke Gundo.

[2015-08-08 22:11] simnalamburt commented on #18
Acknowledged, let me try it.

[2015-08-15 19:03] roboll commented on #18
Seeing this as well, any idea if this is _actually_ supporting neovim?

[2015-08-16 17:04] benbarbour commented on #18
IIRC it was working for a while and then I updated my plugins. I haven't gone back and tried to figure out a working version yet.

[2015-08-17 04:37] simnalamburt commented on #18
I just tested it with [`neovim-git`](https://aur.archlinux.org/packages/neovim-git/) AUR on the Archlinux and found no problem.

* OS: Archlinux
* Neovim: Compiled with https://github.com/neovim/neovim/commit/db7b9700
* Python: `Python 2.7.10` was installed

@benbarbour, can you tell me your environment which produced the titular error? Currently I have problem with reproducing the error. :cry:

[2015-08-19 20:25] benbarbour commented on #18
Hurm... I just tried to reproduce it and I can't. I have updated neovim in the meantime, so perhaps that's all that's needed. For the record, I've currently built off of neovim's 544ec08102b7a763a2a26bfea1310b545f498850 commit.

[2015-08-20 12:39] simnalamburt commented on #18
Alright, closing the issue. @benbarbour please mention me if this issue occurs again :+1:

[2015-08-20 12:39] #18 closed

[2015-08-23 13:10] simnalamburt opened #19 "Problem when invoke this plugin multiple times"
*(will be written later)*

[2015-09-21 18:17] DavidGamba opened #20 "feature: Apply patch on current state"
I would really like to be able to apply a patch from a previous undo onto my current state, not just having to revert completely to that state.

For example, in the image below, apply the patch made on 3 onto my current state 6, leaving me in a new state 7 with the patch from 3 applied.

![gundo-tree](https://cloud.githubusercontent.com/assets/1115287/10000586/5c7b16c0-605a-11e5-8250-16957866afe3.

[2015-09-21 18:30] dsummersl commented on #20
Thanks for the suggestion, I foresee problems with conflicts if we implemented this feature...although I guess we could simply apply the patch, conflict markers and all, and let the user figure out how to resolve them.

One thing you can do now is navigate to '3' and press 'd' to diff 3 with 6. You can then pull over the changes you want to get to 7 - not quite automatic, but possble at the moment

[2015-09-21 18:52] DavidGamba commented on #20
Thanks for the quick reply and for pointing out the temporary workaround. I think having this feature will speed workflow quite a bit.

That behaviour sounds correct to me. If the user doesn't like the conflict patch they can always undo ;-)
In most cases patches will apply cleanly though.

[2015-10-28 12:53] #16 closed

[2015-10-28 13:33] #17 closed

[2015-10-28 14:00] dsummersl commented on #19
Fixed by #17?

[2015-10-28 14:01] dsummersl commented on #12
Closing, I haven't seen this issue.

[2015-10-28 14:01] #12 closed

[2015-10-28 17:21] simnalamburt commented on #19
Awesome! @dsummersl Great job! :+1:

[2015-10-28 17:21] #19 closed

[2015-11-07 01:10] A-deLuna commented on #18
@simnalamburt I'm running into this issue with [neovim 0.1.0-1](https://www.archlinux.org/packages/community/x86_64/neovim/) from the official Arch repos

[2015-11-07 04:55] dsummersl commented on #18
What do you see if you type `echo has('python')`; have you installed the neovim python package (`pip install neovim`)?

[2015-11-07 06:08] A-deLuna commented on #18
thanks @dsummersl!
my problem was that I had not installed python2-neovim

[2015-11-07 06:09] simnalamburt commented on #18
Great!

[2015-11-08 09:37] phongvcao opened #21 "vim-mundo broken with Python 3.5"
I recently upgraded my Python version to 3.5 on Arch Linux. Here is what I got after opening `vim-mundo`:

Error detected while processing function gundo#GundoToggle[1]..<SNR>318_GundoToggle[11]..<SNR>318_GundoOpen[32]..<SNR>318_GundoPython:
line    2:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/phongvcao/.vim/bundle/vim-mundo/autoload/gundo.py", line 16

[2015-11-11 16:31] dsummersl commented on #21
Hi @phongvcao I'm sorry I haven't gotten to this yes - I've had some trouble reproducing on the exact platform. I'll give it another shot shortly...

[2015-11-11 19:24] phongvcao commented on #21
@dsummersl make sure you install vim-python3 & Python 3.5. Also, I use tmux and I don't know if this problem is somehow related to my tmux, even though I doubt it... I will test vim-mundo again without tmux later tonight.

[2015-11-12 08:13] phongvcao commented on #21
@dsummersl okay so this issue is independent of tmux... The error occurs when I tried to scroll through nodes of the vim-mundo's history tree...

[2015-11-12 08:21] simnalamburt commented on #21
Acknowledged, let me try it shortly

[2015-11-22 02:10] #21 closed

[2015-12-06 04:06] sid-kap opened #24 "Feature suggestions: wdiff"
Would it be possible to have an option to use wdiff (or a similar word-diffing library) instead of standard diff (line diff) in the diff buffer? Wdiff usually makes more sense (for me) when I'm editing text files.

Also, would it be possible to do `set wrap` by default in the diff window?

[2015-12-07 17:53] dsummersl commented on #24
Ooh, wdiff. I like wdiff too. I know we're currently using the builtin python diff library. I'll look at making that configurable.

Thanks for the suggestion.

[2015-12-08 03:19] wsdjeg commented on #1
wow nice

[2016-01-10 17:01] wsdjeg commented on #15
@dsummersl @simnalamburt I am start to do this now ,a better way support both mundo and gundo first,

[2016-01-10 17:10] simnalamburt commented on #15
@wsdjeg :+1:

[2016-01-10 17:35] wsdjeg commented on #15
finished

[2016-01-10 17:42] simnalamburt commented on #15
Thank you @wsdjeg, pretty much works just have done by #25, now left things to do is updating README and documentations

[2016-01-10 17:53] wsdjeg commented on #15
@simnalamburt I Just fix the test and change the buf Name from _Gundo_ to _Mundo_

[2016-01-10 17:54] simnalamburt commented on #15
@wsdjeg :+1:

[2016-01-10 17:54] wsdjeg commented on #15
thanks ,I really love this plugin :dancer:

[2016-01-10 18:11] wsdjeg commented on #20
I think it is just like the git tree,if you want to merged 3 into 6 ,I think it is not `git fast forward`,so there maybe some issues.

[2016-01-12 15:53] dsummersl commented on #15
@wsdjeg this looks great, thank you so much!

[2016-01-12 16:13] wsdjeg commented on #15
@dsummersl should we rename the script file name , also I think  if the licenses is ok, we can remove the fork, and let more people seach for this plugin ,then no result for this plugin
https://github.com/search?utf8=%E2%9C%93&q=mundo.vim
also wen can not search code from this repo
**Sorry, forked repositories are not currently searchable**

[2016-01-12 16:14] simnalamburt commented on #15
WTF

@wsdjeg Acknowledged, I'll take care of this problem seriously

[2016-01-12 16:18] wsdjeg commented on #15
that means we can not remove the fork flag?

[2016-01-12 16:20] simnalamburt commented on #15
We maybe should recreate this repo

[2016-01-12 16:22] wsdjeg commented on #15
Do you kown,how to got it ,also I can help you ,

[2016-01-12 16:24] wsdjeg commented on #15
you shoul deal with Redirect manual,because many people now using Plugin 'simnalamburt/vim-mundo'

[2016-01-12 16:27] simnalamburt commented on #15
That's right. GitHub does track down changing project's name so currently this plugin is downloadable with `simnalamburt/gundo.vim`, but I haven't tested it with transferring ownership to organization. Let me try it with dummy org

[2016-01-12 16:28] wsdjeg commented on #15
###please do not do like this

[2016-01-12 16:32] wsdjeg commented on #15
### here is the step
1. clone this repo to you pc local
2. delete simnalamburt/vim-mundo
3. create a new repo named `vim-nundo` yourself
3. create a new org or not ,I think it is better use Mundo.vim as the org name
4. thansfe the ownership of the new repo simnalamburt/vim-mundo to the org

[2016-01-14 06:34] simnalamburt commented on #15
Thanks @wsdjeg I've been busy for a while, let me handle this work this weekend. Thank you for your contributions again.

[2016-01-14 06:36] wsdjeg commented on #15
you are welcome

[2016-01-20 16:20] simnalamburt commented on #15
I just sent a reqeust to extract `vim-mundo` into its own fork network (means, please remove that 'forked from ~~~' sign).

###### Reference
- http://stackoverflow.com/a/29326840

[2016-01-20 16:27] wsdjeg commented on #15
how long will this take.I found ctrlp.vim still has the fork mark.

[2016-01-20 16:31] simnalamburt commented on #15
@wsdjeg Don't know yet. I didn't wanted to lose those issues and pull requests, so let's wait a few day and recreate this repo if github doesn't reply.

[2016-01-20 16:34] wsdjeg commented on #15
yeah,I also didn't wanted to lose those,and maybe there is no need remove the fork mark.

[2016-01-24 14:37] simnalamburt commented on #15
Fork mark removed

[2016-01-24 14:41] wsdjeg commented on #15
oh,greate

[2016-02-11 07:23] wsdjeg commented on #15
How about update the project website?

[2016-02-11 15:56] dsummersl commented on #15
Yes I love that idea - I’d love for us to have some updated screenshots or maybe a screencast too!

[2016-02-13 23:43] starcraftman opened #30 "Error when opening help (i.e. ?)"
To reproduce: Open the MundoToggle, then simply push `?`.

Error Recieved:
[code]

[2016-02-13 23:50] dsummersl commented on #30
Hi @starcraftman - Pressing ? works for me - what version of vim/neovim are you using? (`:version`). Also...what version of python?

[2016-02-13 23:52] starcraftman opened #31 "Incomplete Rename"
Hi, it seems during the rename you might have forgot at least two files. The first rename caused an rsync I was running on my plugged dir to crash, since it pointed to a non-existent file.
- `tests/vim_test/plugin/gundo.vim` ->  `tests/vim_test/plugin/mundo.vim`, link should be remade as it still points to gundo.vim
- `tests/vim_test/plugin/gundo_test_utils.vim` -> `tests/vim_test/plugin/mundo_tes

[2016-02-13 23:54] starcraftman commented on #30
@dsummersl Python 2.7.10, Vim patches 1-1261, compiled myself with +python.

[2016-02-15 15:13] dsummersl commented on #31
Hi @starcraft I'll get that link fixed - the UT tests don't work on the original gundo project for me, and they don't work on this one either. I'll see if I can track that down as well.

[2016-02-15 15:16] dsummersl commented on #31
Git bisected from the point where it last worked:

[code]

[2016-02-15 15:18] dsummersl commented on #31
I'll also add some CI support for this if I can - clearly this has been broken for five years b/c no-one runs these tests.

[2016-02-18 20:29] #30 closed

[2016-02-18 20:30] dsummersl commented on #30
@starcraftman check out @djjcast 's fix out and let me know if it works for you. Thanks!

[2016-02-20 13:54] starcraftman commented on #30
@dsummersl Works fine now, thanks for fixing it.

[2016-03-23 02:27] carlitux opened #33 "Python3 support?"
There are plans to start using python3 with neovim?

[2016-04-19 18:00] dsummersl opened #34 "Toggling inline mode 'i' doesn't stick."
If 'inline mode' is off, and it's toggled with the 'i' key the 'inline diffs' are set. When you scroll to new undos though, the inline diff isn't present. Retoggling a couple times populates the inline diffs.

[2016-04-30 05:35] jordwalke commented on #34
I noticed this immediately.

[2016-04-30 05:38] jordwalke opened #35 "Can the diff preview be a vertical diff split."
I very much appreciate Vim's vertical diff split. Is it possible to have the undo/redo preview window be split into two and shown using `vertical diffsplit`?

[2016-06-27 11:53] #34 closed

[2016-08-22 14:05] bpierre opened #39 "The vim-airline status bar moves to the Mundo pane when opened"
Not sure if the problem comes from [vim-airline](https://github.com/vim-airline/vim-airline), Mundo, or both.

When I toggle Mundo, my vim-airline status bar is moved inside of the Mundo tree.

Before opening Mundo (the grey bar at the bottom is tmux, do not pay attention to it):

<img width="1440" alt="screen shot 2016-08-22 at 14 36 08" src="https://cloud.githubusercontent.com/assets/36158/17857

[2016-08-22 14:55] dsummersl commented on #39
I believe that is the standard behavior for airline: whichever window has cursor focus also contains the airline status bar. Other plugins add 'airline support' - showing a custom airline status bar when focused (say # total undos, mundo settings, etc).

[2016-08-22 15:11] bpierre commented on #39
You are right, thanks. I wonder if vim-airline allow to stay on the latest active window if a certain condition is met…

[2016-08-22 15:11] #39 closed

[2016-08-22 15:12] bpierre opened #40 "vim-airline integration"
Should Mundo be added to the vim-airline integrations?

What kind of information would be the most interesting to have?

See @dsummersl comment here: https://github.com/simnalamburt/vim-mundo/issues/39#issuecomment-241439638

Gundo integration in vim-airline: https://github.com/vim-airline/vim-airline/blob/master/autoload/airline/extensions.vim#L24

[2016-08-22 15:25] dsummersl commented on #39
Yeah that would be nice...I'll check out some other airline compatible plugins and see what they do.

[2016-08-22 15:38] bpierre commented on #40
Looks like the best way to integrate a plugin with vim-airline https://github.com/vim-airline/vim-airline/blob/d00f7b35d2e615ce7a120214e4615912fc09e630/doc/airline.txt#L868

[2016-08-22 15:50] dsummersl commented on #40
I really like this idea. We don't need anything particularly complicated. I think even a simple branded status line (just 'MUNDO') would be less confusing than displaying the user's default airline status line.

[2016-08-26 21:22] dsummersl commented on #33
It looks like we may already support this. There is an option `g:mundo_prefer_python3` that lets you specify your preference. I'll test it out and see that it works under python2 and 3.

[2016-09-09 17:53] jesusabarca commented on #18
For OS X users, install python 2 integration package with:

`sudo pip2 install --upgrade neovim`

Source https://neovim.io/doc/user/provider.html

[2016-10-20 22:09] idbrii opened #41 "Tag 3.0.1 release?"
v3.0.0 is the most recent tagged release but it contains #30. That looks really bad to new users switching from gundo since checking the help is one of the first things they'll do. It was the first thing I did and I immediately ditched mundo thinking it was an experimental fork. It wasn't until I considered reporting the issue that I found it was already fixed.

Could 67ab896 (the fixing commit) g

[2016-10-20 22:56] dsummersl commented on #41
@idbrii thanks so much for the feedback. Tagged!

[2016-10-20 22:56] #41 closed

[2016-11-27 18:27] dsummersl commented on #40
If anybody has a chance to review this before I merge it in, that'd be great. It only provides simple airline statusbars so you are aware that the window you are in is a Mundo window. It leaves the main history window labelled as 'mundo' even when it doesn't have focus to unsure the user knows what the windows are for.

[2016-11-29 02:05] idbrii opened #43 "Readme says not diverging from upstream"
The Readme says:

But #15 made massive changes to the code to rebrand and this plugin is no longer "forked from sjl/vim-gundo" on github. Should that readme segment be removed?

[upstream]: https://github.com/sjl/gundo.vim

[2016-11-29 04:49] simnalamburt commented on #43
You're right. vim-mundo is already a lot different from gundo.vim. I'll delete that line

[2016-11-29 04:50] #43 closed

[2016-12-05 02:02] dsummersl commented on #40
issue-40 merged.

[2016-12-05 02:02] #40 closed

[2016-12-15 00:40] dsummersl opened #44 "neovim stacktrace when there is no history"
[code]

[2016-12-15 00:51] simnalamburt commented on #44
Oops it's a big problem. I didn't know this since I do not use neovim.

[2016-12-15 02:51] wsdjeg commented on #44
@dsummersl I use neovim, and it works well for me , what is your reproduce step?

[2016-12-15 11:34] dsummersl commented on #44
Struggling to figure out how to reproduce. It has happened to me a few times in the past (I presume, I've seen similar stack traces but I didn't copy the traces the last times, so I can't be 100% sure). What I know thus far:
 * It happens for files with no history.
 * Normally a file with no history would have 1 undo. `:echo undotree()` there should normally only have 1 undo entry with a level of

[2016-12-15 11:52] dsummersl commented on #33
We do already support this, it turns out.

[2016-12-15 11:52] #33 closed

[2016-12-15 11:54] wsdjeg commented on #44
I just create a new file by `echo "" > test/test.txt`, then  use nvim open such file, and `echo undotree()`, open moundo. here is the pic.
![2016-12-15-19 52 12](https://cloud.githubusercontent.com/assets/13142418/21223038/238d5878-c300-11e6-901d-7be78e51106e.png)

[2016-12-15 11:55] dsummersl opened #45 "Undefined function: get_padding_line"
While debugging #44 I found a function that is not defined in the codebase. I followed the git history and it looks like when the original author imported the mercurial graph implementation he didn't import that function. It must be a fairly rare that `get_padding_line()` is called because I don't think anyone has complained about it. I suggest we remove it.

https://github.com/simnalamburt/vim-mu

[2016-12-15 12:16] dsummersl opened #47 "Feature: update mundo undo tree when main window is changed."
Ideal behavior:

 1. Start vim with no file. Make a few changes.
 2. call `:MundoShow`. Changes should be seen.
 3. open a new file `:e new.txt`.
 4. The mundo window still reflects the undo state of the empty buffer - ideally it would show the new/empty undo history of new.txt.

[2016-12-15 12:21] simnalamburt commented on #45
Wow it is amazing that I noticed it two years after we made vim-mundo. We definitely should do some refactoring when we have some spare time. lol

[2016-12-15 12:21] dsummersl commented on #44
Yeah, I've tried that too...and using it on a read only file too. I'm not sure how to trigger it. Again, this doesn't happen 'normally' - but there is a stack trace - so its happened! :)

I think it has happened with file I edit under version control. If I work on branch `A` for a file, and then switch to branch `B`(so that whatever undotree() state that was valid for the file on branch `A` gets t

[2016-12-15 12:21] dsummersl commented on #44
I'll try to make it happen today.

[2016-12-15 15:00] xeyownt opened #48 ""g:mundo_inline_graph" should be "g:mundo_inline_undo" in the doc"
In the doc, title for section 3.14 is `g:mundo_inline_graph`.
It should be `g:mundo_inline_undo`.

Or vice-versa.

Thanks for the nice plugin btw.

[2016-12-15 19:04] dsummersl commented on #48
Oops! Thanks so much for pointing that out. We'll get it fixed shortly.

[2017-01-01 09:12] nhooyr opened #50 "differences between undotree"
What are the differences between this and https://github.com/mbbill/undotree ?

Also, `g:mundo_inline_graph ` and `g:mundo_help ` appear to do nothing.

[2017-01-01 14:48] #48 closed

[2017-01-01 15:04] dsummersl commented on #50
On the face of it points 1, 4, 6 appear to still be true in https://github.com/mbbill/undotree#alternatives: this plugin uses python under the hood, it doesn't have a way to toggle timestamps (they are always relative), and it doesn't itself modify the undo history in any way.

I haven't tried this plugin so I can't comment on what it does comprehensively. But I'd point out some of mundo's more ob

[2017-01-01 15:04] #50 closed

[2017-01-01 15:07] nhooyr commented on #50
@dsummersl btw for me, it looks like `g:mundo_help ==# 0` by default, contrary to what the docs say. that's why I thought it did nothing.

[2017-01-01 15:09] nhooyr commented on #50
While I prefer the UX of this plugin, undotree was surprisingly faster, at least in terms of opening the window. With a long undo history, this plugin freezes for about a second or so. It's not a big problem, but is there anything that can be done?

[2017-01-01 15:12] dsummersl commented on #50
@nhooyr could you proof my help text change? https://github.com/simnalamburt/vim-mundo/pull/51/commits/c971edcf48afbce474b36c823c5ebd5a86d8a3b8

Could you give me a sense of how many undos cause it to freeze, how big the file is? I'd love to address the issue if I can reproduce it.

[2017-01-01 15:14] dsummersl commented on #15
@wsdjeg I guess we better update our project website finally, then. Happy new years, thanks for including our project!

[2017-01-01 15:16] nhooyr commented on #50
28 line file, 800ish undos.

https://dropbox.aubble.com/main.go

https://dropbox.aubble.com/%25Users%25nhooyr%25code%25gopath%25src%25github.com%25nhooyr%25playground%25main.go

[2017-01-01 15:19] nhooyr commented on #50
It's only when loading the tree for the first time, after that it is fast.

[2017-01-01 15:19] simnalamburt commented on #50
@nhooyr Thanks for your help. I did recognize that there is a performance issue with vim-mundo from a long time ago, but there weren't many spare time for me to work on vim-mundo.

[2017-01-01 15:20] simnalamburt commented on #50
Personally I'm planning to remake this plugin with rust language.

[2017-01-01 15:21] nhooyr commented on #50
That's cool, take your time and do it in Rust. That would mean it would be a neovim remote plugin right?

[2017-01-01 15:24] simnalamburt commented on #50
@nhooyr I hope so, but I'm not sure for right now since I've never made neovim remote plugin before.

By the way thank you for pointing out that documentation problem. That documentation is highly outdated and may have another problem too. I'll update it right away.

[2017-01-01 16:05] wsdjeg commented on #15
yeah. happy new years too.

[2017-01-01 16:06] simnalamburt commented on #15
Currently I'm updating the github pages

[2017-01-01 16:49] simnalamburt commented on #1
The name of this repository, `mundo` is indeed a hommage of the game character [Dr. Mundo](http://leagueoflegends.wikia.com/wiki/Dr._Mundo) of [League of Legends](https://www.leagueoflegends.com/). When I first forked the [`gundo.vim`](https://bitbucket.org/sjl/gundo.vim) into `vim-mundo`, I was enthusiastic player of that game. But three years have passed and now I totally lost interests of that

[2017-01-01 16:49] #1 closed

[2017-01-01 16:53] simnalamburt commented on #15
It took one and a half year to update the online documentation 😅 Thanks to both @dsummersl and @wsdjeg for contributing this project and toleration my lazyness

[2017-01-01 18:23] #45 closed

[2017-01-29 06:28] jordwalke commented on #35
Sorry for the ping. Does anyone know the answer?

[2017-01-29 06:39] simnalamburt commented on #35
@jordwalke Hi Jordan, I'm sorry for the extremely late reply. Your ping was totally adequate so please don't be sorry 👍

Current implementation of vim-mundo has some functionality to render patch diff in `vertical diffsplit` way, but it's somewhat undocumented and hard to find the way how to do it. Let me tell you how to do it.

At this screen, select a patch that you want to see the patch vertica

[2017-01-29 08:57] jordwalke commented on #35
I was thinking of something like this, if you set a "g:mundo_vert_diff" option:

<img width="757" alt="mock" src="https://cloud.githubusercontent.com/assets/977348/22402955/f5348c7c-e5bd-11e6-8c33-0dfa9cfce22f.png">

[2017-01-29 09:05] simnalamburt commented on #35
That's what we cannot do with current vim-mundo, but it looks useful and ergonomic! I want that feature too.

Personally, I do not have much spare time to implement that feature. But if you or someone else make a PR with that function, I'll document it and merge it. If you're going to implement that feature on your own, call me if you want any help.

[2017-01-29 09:08] jordwalke commented on #35
Thanks for offering to help, I don't know much about Vim unfortunately, and I'm not even sure if it's possible to have deeply nested diff panes like that.

[2017-01-29 12:48] dsummersl commented on #35
I like the general idea as well - personally I think its the kind of thing that warrants a new tab (everything on the left side of your beautiful mockup in a new tab). Kinda like what gitv does. I've thought about this a little bit, and I think it warrants a new plugin. That's just me.

[2017-01-30 05:34] jordwalke commented on #35
A new plugin? But it's so close to the current one that so much of the implementation code would be shared.

[2017-01-31 21:54] dsummersl commented on #35
It is true, it could be added to this project. I liken it in my head to the use case for vim-fugitive (performing git operations on the current state of a git project) versus gitv (making broadly more historical searches of the git histories). The distinction is fuzzy, as there is overlap.

In either case, code can be shared (the new project could depend on this one, or vice versa).

But maybe thi

[2017-01-31 22:29] jordwalke commented on #35
Would anyone *not* want the side by side diff version that I've photoshopped?

[2017-02-11 08:42] albfan commented on #10
I can help you with vader if you want to use it. See https://github.com/albfan/ag.vim/tree/master/t

[2017-02-11 08:44] albfan opened #53 "Disable Gundo deprecation"
What about people making the transition? Seems wrong that a plugin invalidates other.

Is Gundo incompatible with Mundo in some way. If not you should about nasty things like disable other plugin

[2017-02-11 09:06] simnalamburt commented on #10
@albfan Thank you for your sample! I'll take a look at it :+1:

[2017-02-11 09:10] albfan commented on #10
Although test are developed inside vim, you can execute them too outside (for CI) with https://github.com/albfan/ag.vim/blob/master/t/suite.sh

[2017-02-11 09:24] simnalamburt commented on #53
Actually that option was added because mundo was once a fork of gundo. It had shared a name of configs and variables.

Now mundo has been diverged from gundo and renamed all variables. But still some people were using gundo's configs for mundo. The mundo maintainers (I and @dsummersl) were highly worried about making a breaking change, so we decided to preserve that variable names but make a warni

[2017-02-11 09:56] albfan commented on #53
I think mundo disabled gundo, but it breaks it indeed. Why not just add an option to enable compatibility? Anyway I understand troubles in separate from upstream

[2017-02-11 09:56] #53 closed

[2017-02-27 14:43] lonetwin opened #54 "Plugin does not work with vim compiled with dynamic python/python3 support"
[code]
Invoking MondoToggle results in the message
[code]

[2017-02-28 00:40] simnalamburt commented on #54
I also use vim with `+python/dyn` option but it works find to me. Is you vim able to access the `python` executable? Please show me the result of `vim '+put =$PATH' -esbnNc 'w!/dev/stderr|q!' 2>&1 >/dev/null` and `which python`.

[code]

[2017-03-03 14:18] lonetwin commented on #54
I'm sorry about this. seems like this was a problem caused by another plugin I had (`vim-virtualenv`). After disabling that, Mundo works just fine. Closing this.

[2017-03-03 14:18] #54 closed

[2017-03-23 09:19] lopippo opened #56 "E117: Unknown function: mundo#MundoShow"
Greetings,
I was happily using Gundo when suddenly it failed working. I have researched the web and found vim-mundo with new energies and coders. So I made the switch. But there still seems to be a problem: when I enter :MundoToggle I get the following error message:
E117: Unknown function: mundo#MundoToggle.

Same for MundoShow (see subject line).
I am on Debian, my vim is effectively built with

[2017-03-23 10:33] dsummersl commented on #56
Could you run a couple things and let us know what you get, in vim?

`:echo has('python')` (sounds like...you would see 0).
`:echo has('python3')` (would expect this to return 1).

Try adding this to your vimrc file:

`let g:mundo_prefer_python3 = 1`

[2017-03-23 10:55] lopippo commented on #56
Greetings,
thank you for your quick reply.
:echo has('python') gives indeed 0
:echo has('python3') gives indeed 1

But adding the line you suggest did not solve the problem.

I have installed Mundo-Vim using Vundle, by adding this line to my .vimrc:

Plugin 'simnalamburt/vim-mundo'

then I ran :Plugin-Install, which could install the plugin without any error.
Then, I can see in my .vim the followi

[2017-03-23 11:31] dsummersl commented on #56
It sounds correct...

Try...starting vim, launching mundo (`:MundoToggle`), and then printing out the python system path (`:py3 print(sys.path)`)

It should look something like:

[code]

[2017-03-23 11:42] lopippo commented on #56
Greetings,
I think I got it solved! What was messing around, I guess, is that I use to lauch vim with -S Session.vim automatically. In my work session I indeed had a Session.vim file.

So, when trying your suggestion, I actually started a clear vim (no session file load) and :Mundo-Toggle actually opened the side view as I usually expected Gundo to do it! Anyways, I had removed the gundo bundle di

[2017-03-23 11:46] dsummersl commented on #56
Woot! Thanks for the update.

[2017-03-23 11:46] #56 closed

[2017-04-14 19:32] vimeitor commented on #44
I can reproduce it fairly consistently. An example:
[code]
`set undoreload=0 | edit` basically discards the undo history for the current file. Let me know if you can reproduce the problem :)

[2017-04-14 20:48] dsummersl commented on #44
thanks @vimeitor I'll give that a shot

[2017-04-15 01:48] vimeitor commented on #44
I forgot to say that this is not something that is exclusive of neovim, as I can reproduce it in vim8, as well.

[2017-04-17 00:55] dsummersl commented on #44
@vimeitor I've merged in a fix that I believe corrects the issue; do let me know if you run into more problems.

[2017-04-17 03:04] vimeitor commented on #44
I'm afraid I can still reproduce the issue with the same steps as before. Do not worry about it; there's no rush into fixing this (at least from my side). I might take a look at it in a few days if I get some time, although I have very  little experience with vimscript besides the small functions that I have here and there on my vimrc.

[2017-05-13 21:43] fuine opened #58 "Show history for selected lines"
I don't know if it's even possible, but I would love to see some functionality that would allow me to see a tree for selected line(s). In your opinion, how hard would it be to implement this feature? I'd gladly help.

[2017-05-14 13:30] dsummersl commented on #58
Great question - sort of like a `git blame`? Would this be as simple as supporting visual selections (filter out all undos from mundo that have anything to do with the current selection)?

[2017-05-14 13:32] fuine commented on #58
Yes, that's how I primarily imagined it. A lot of the times I find myself trying to see how the specific block of code has changed over the time and currently I just end up moving down the tree, looking for the changes that contain any lines from said block.

[2017-05-14 14:37] dsummersl commented on #58
I don't this would be too hard:
 * Support passing the selected line numbers to MundoRenderGraph()
 - https://github.com/simnalamburt/vim-mundo/blob/master/autoload/mundo.py#L71
 * Currently we're using python's builtin difflib library to generate the unified diffs...
    * We'd need to determine which lines are affected in the undo (filter appropriately)
    *  As we process the undos, we'd need

[2017-05-15 15:08] dsummersl commented on #58
@fuine unless you wanna take a crack at it, I'll give it a shot this week.

[2017-05-15 15:14] fuine commented on #58
@dsummersl I could take on this issue, but not before the upcoming weekend. If you have a spare time however you could start hacking on that and I could help you. I'm not sure if that works for you but I'm pretty flexible in that regard

[2017-05-23 01:25] dsummersl commented on #58
Didn't get as much time as I wanted into this over the weekend, but I got a little. Wrote some more unit tests for graphlog, figured out where I think the changes could happen. I'll push up a branch when I get a little further along.

[2017-05-24 07:01] fuine commented on #58
I'm sorry, looks like we have similar issues with time. If you have something written already please consider creating a WIP PR, as I might join in and hopefully help you.

[2017-06-22 22:23] alexebird opened #59 "MundoOpen, NameError: name 'initPythonModule' is not defined"
Hi,

First of all, thanks for your work on this project.

I'm getting an error in `MundoOpen`:

[code]
`echo has('python')` and `echo has('python3')` are both `1`.

Here's my `py3 print(sys.path)`:

[code]

I have also installed `neovim` with `pip` and `pip3`. I'm using `neovim` built from source, installing `mundo` via `vundle`.

[code]

Strangely, Mundo still seems to work fine after this error.

[2017-06-23 03:00] dsummersl commented on #59
Hi Alex, I'll take a look. Thanks for the thorough posting.

[2017-07-01 23:27] dsummersl commented on #59
@simnalamburt could you PR the above fix? Thanks!

[2017-07-22 09:53] xtal8 opened #61 "Searh error on Windows"
When searching for pattern in undo history and there are no results, the following error is thrown

[code]

[2017-07-22 12:38] dsummersl commented on #61
Oh! Thank  for you this, I think it happened to me recently. I'll try and take a look at it toady.

[2017-08-02 16:24] arutz74 opened #62 "Terminal window selection problem"
Situation:

When viewing a buffer's undo tree via Mundo and splitting the window and opening a new terminal in it I'm unable to select text in the terminal window. Neovim exits the visual mode after the first key stroke.

Just when Mundo is open. When I close, everything's working fine.

[2017-10-06 12:21] dsummersl commented on #62
I've had no luck reproducing this - anyone else? If so how (and what verrsion of vim)?

[2017-10-06 12:21] dsummersl commented on #61
I've had no luck reproducing this - anyone else? If so how (and what verrsion of vim)?

[2017-10-06 19:19] simnalamburt commented on #61
Lack of windows development environment.. 😭 sorry

[2017-10-26 02:51] simnalamburt commented on #15
Now vim-mundo is the third search result of "vim undo tree" in Google. Greate works everyone!

<img width="1239" alt="2017-10-26 11 22 19" src="https://user-images.githubusercontent.com/4435445/32032772-dfc2d42e-ba43-11e7-8ff9-fc34c8ed6eb2.png">

[2018-02-18 10:07] shaggyrogers opened #64 "Better auto preview"
I came up with this somewhat hacky method of keeping the auto preview behaviour without rendering a diff for every node in the tree. Diffs are only rendered when the cursor remains on a node for &updatetime ms. Hopefully someone finds it useful.

[code]

If anyone has any ideas on how to implement this without setting updatetime and wants this feature, I'd be happy to implement it properly and sub

[2018-04-06 13:56] dsummersl opened #67 "Changes to a file that don't change cursor position do not update mundo tree"
To reproduce:
 1. Open a file, and open the mundo window (`:MundoShow`). Go back to the buffer's window that the undo tree is about.
 2. Using the unimpaired plugin, type the `]<space` expansion (adds a new line to the document, without moving the cursor).

The undo tree does not update until you move the cursor.

[2018-04-08 14:16] shaggyrogers commented on #67
I looked into this, changing mundo#MundoRenderGraph() in my PR seems to fix the issue:

<details>
<summary>Code</summary>
<p>

    function! mundo#MundoRenderGraph() "{{{
        " Save window view information and buffer number
        let currentWin  = bufwinnr('%')
        let winView = winsaveview()

        " Ignore autocommands that would trigger a refresh
        let eventignorePrev = &event

[2018-04-12 11:49] shaggyrogers commented on #67
Hmm... By adding

    call mundo#MundoRenderPreview()

to delayed refreshes for all buffers, I was able to fix this issue, with the exception of the very first edit. This has the effect of resetting the cursor position in the graph window, however. I'll have a look at the preview rendering code and try to find a better solution.

[2018-05-03 07:37] shaggyrogers commented on #67
Finally got around to pushing the changes, when you get a chance see if this issue is fixed in the latest commit.

[2018-05-03 11:44] dsummersl commented on #67
Awesome - I put this up on  my box locally yesterday - I'll give it a closer look today.

[2018-05-04 20:36] dylnmc commented on #61
Windows `:MundoToggle` has been extraordinarily slow. Is this related or another issue? I get no errors; it's just REALLLLLY slow

(Sometimes it takes over a minute just to open `:MundoToggle` .. by which time I have inevitably forgotten *why* I was opening it. Also, I can't `<c-c>` because it ruins my history and I have to `:q!`.)

[2018-05-06 15:48] dylnmc opened #69 "slow"
mundo used to be the fastest.

now:

1. at work (windows + gvim), it takes mundo well over 1 minute to open up
2. at home (archlinux + vim), mundo takes a few seconds to open and it makes my cpu go crazy and it blocks up when I press `jjjjj` even just like 4-5 times.

---

something bad happened. roll back or something. maybe it's just me, but it's affecting all of my vim sessinos on all the machi

[2018-05-15 03:15] dsummersl commented on #69
@dylnmc sorry to heard about this! Can you post what versions you're using? I unfortunately don't have ready access to a windows box, but I can at least look into the arch side.

[2018-05-15 20:14] dsummersl commented on #69
Oh I'm sorry I meant what version of vim are you using?

[2018-05-16 01:35] dylnmc commented on #69
I promise I wasn't just making up the slowness (it was particularly slow on windows), but it doesn't seem to be an issue right now on any of my machines. I think there was one or two updates in the meantime, but I don't even know if it was mundo's fault.

cheers,

[2018-05-16 01:47] dsummersl commented on #69
Thanks anyway - your double checking is appreciated!

[2018-06-26 10:10] ruohola opened #70 "Colors dissapear when sourcing .vimrc after plugin load"
Steps:

1. Open file
2. Open Mundo
  \- colors show up correctly
3. Close Mundo
4. :so $MYVIMRC
5. Open Mundo
  \- Mundo is black and white

[2018-06-26 10:38] ruohola commented on #70
fixed this by changing a section in my vimrc
from this:
`syntax enable`
to this:
`if !exists("g:syntax_on")
    syntax enable
endif`

[2018-06-27 19:44] jasontibbitts opened #71 "Poor interaction with trailing whitespace highlighting"
Just switched from gundo to mundo and fixed up the binding and the settings.  I have vim set to highlight trailing whitespace:
[code]

The Mundo main display seems to have trailing whitespace on every line while the Gundo main display did not.  So in Mundo I get red blocks after each "ago" and on each of the tree drawing lines while I don't see that with Gundo.

Interestingly, the patch display in

[2018-09-24 16:22] runiq opened #72 "Preview button (r) not remappable"
Hey,

thanks for taking up Gundo and making it better! :)

I have a little problem due to my [keyboard layout](https://adnw.de), which uses `t` and `r` in place of `j` and `k`. Unfortunately `r` is mapped to rendering previews and not remappable.

Could you expose a setting for changing the keybinding, please?

Thanks again! :)

[2018-09-24 16:46] dsummersl commented on #72
oh, woops - yes, I'll try and get that out for you soon.

[2018-09-27 12:29] dsummersl commented on #72
I started this last night and its turned into a little bigger thing (general ability to configure all mappings rather than the piecemeal thing we have in place now)...I hope to have this finished up this weekend.

[2018-10-26 15:44] dylnmc commented on #61
I have to develop on windows at work. I just ran into this issue. Also the first time I open mundo with an undo history greater than 1000 undos, it is *still* really slow. I also just ran into this `KeyError: 9` issue. Will try to look into this at home, but I only run linux at home 😭

[2018-11-10 20:08] dsummersl commented on #72
@runiq I'ved added a PR that allows you to remap your mundo keys as you see fit. Give it a try when you get a chance.

[2018-11-10 20:29] dsummersl commented on #61
@dylnmc please try the latest version (merged in a PR that should improve rendering today).

[2018-11-13 17:39] dylnmc opened #75 "Windows diff closes instantly"
pre-disclaimer: I know you don't like or want to work with Windows (neither do I), but this is the issue that I am encountering with `VIM - Vi IMproved 8.1 (Included patches: 1-500)`/`MS-Windows 32-bit GUI version with OLE support` at work.

## Problem

#### Keys

1. `:MundoToggle`
2. <kbd>2</kbd><kbd>0</kbd><kbd>j</kbd>
3. <kbd>d</kbd>

#### Result

* Mundo closes the `__Mundo__` window, but ther

[2018-12-06 12:32] runiq commented on #72
Hi! Sorry for not getting to this sooner. Everything appears to be working great! Thanks for all your work! :)

[2018-12-06 12:32] #72 closed

[2018-12-29 23:21] soerenwolfers opened #76 "Currently unusable due to messed up formatting of `util.vim`"
My vim 8.1 complains about the `"{{{` groups in `util.vim`

After fixing this, it complains about the lonely closing parenthesis on line 75 of `util.vim`, which is not escaped.

[2019-01-07 14:08] dsummersl commented on #76
Thanks for the report - I'll try and get a fix in for this soon.

[2019-01-08 22:10] dsummersl commented on #76
I'm having trouble reproducing this - could you post `:version` output? Mine works fine (macos gvim 8.1.577 , and I don't see anything obviously wrong on line 75 of util.vim (although my neomake linter complains about it so you're version of vim must be on to somthing!...)

[2019-01-09 21:22] soerenwolfers commented on #76
I don't know vimscript, but I had to escape the closing parenthesis `)` like this:`\)`. Otherwise it says `Not an editor command: ) `

[code]

[2019-02-21 21:25] smancill opened #77 "Error processing MundoMapGrap: illegal variable name"
I updated Mundo and encountered this error:

[code]

Seems that 3eb20180e561da98d49a52b3a5d7af2bcda37162 broke the plugin.

[code]

[2019-02-22 04:52] #77 closed

[2019-03-07 12:26] ruohola opened #80 "ValueError if searching for undo history which has a null character ^@"
The error occurs when you're trying to search (with /) a place in the undo history which also happens to have a `^@` aka null character in one of the changed lines. The place of the null character on the line is irrelevant, it just has to be somewhere in a + or - line.

The error is easy to reproduce:
- Start editing a new file
- Type the line (use `CTRL-V` `CTRL-J`, for typing the `^@`): `test^@`

[2019-05-09 16:07] jeffreyrack opened #81 "Unable to run latest master on vim 7.4"
When trying to run MundoToggle on the latest master branch with the Vim provided by Centos7, I receive the following error:

[code]

Version output:
[code]

It looks like vim 7.4 doesn't support get_winid:
[code]

I'm still able to use this package by reverting to v3.0.0, so it's not a major issue, but it seems as though our of the box support for vim 7.4 and below has been broken.

[2019-05-09 16:29] dsummersl commented on #81
Ah, thanks for the report. I'll try and look into it when I get a free moment.

[2019-05-14 03:45] simnalamburt commented on #81
To help @dsummersl a little bit:

[`win_getid()`] was added in [patch 7.4.1557]. And default vim package of CentOS 7 does not includes [patch 7.4.1557].

[code]

Our usage of [`win_getid()`] was introduced with https://github.com/simnalamburt/vim-mundo/commit/296bbd82#diff-1f698073aa31794e38dc5676820ae97eR279 as part of the PR https://github.com/simnalamburt/vim-mundo/pull/65 which improved UX of

[2019-05-14 03:55] #31 closed

[2019-05-14 03:56] simnalamburt commented on #31
Thanks for the note and the suggestion!

[2019-05-14 04:03] simnalamburt opened #82 "Update website"
The website of vim-mundo https://simnalamburt.github.io/vim-mundo/ is outdated. I need to update it someday.

#### TODOs
- [ ] The screencast shows gundo.vim not vim-mundo. We need to replace it with a more recent video.
- [ ] Write a tutorial for the newcomers.
- [ ] Update documentations.

[2019-05-14 04:03] simnalamburt commented on #15
Closing in favor of #82

[2019-05-14 04:03] #15 closed

[2019-05-14 04:07] simnalamburt commented on #59
I'm closing this issue since https://github.com/simnalamburt/vim-mundo/pull/60 was merged. Please poke me if this issue sill occurs.

[2019-05-14 04:07] #59 closed

[2019-05-14 04:12] simnalamburt commented on #81
Since we said that we support vim ≥ 7.3 at the README, this seems to be a regression.

[2019-05-16 17:58] dylnmc commented on #69
I hate to reopen the issue, and while I love mundo, it is very nonperformant in my (fairly up-to-date) 32-bit version of gvim.exe on windows 10.

I am not sure if this does happen - for I have not looked at the code - but it seems like mundo generates data for searching capabilities that other undo tree visualisation plugins lack, and this seems to take a long time on windows (while it may be perf

[2019-06-11 17:49] dylnmc commented on #69
I started noticing major lag with undo operations when syntax is enabled. If you do `:syn off` first then `:MundoToggle` it works much better. Perhaps this could be incorporated into the plugin (in particular for windows but potentially for linux as well, since it can only improve the performance) maybe by noting the `b:&syntax` or `w:&syntax` variable, setting it to empty then setting it back aft

[2019-06-11 18:26] dylnmc commented on #69
In order to temporarily fix the issue, I had to go through quite a few hoops, since some functions (the ones checking if mundo is open) are not exposed:

[code]

[2019-07-24 15:05] davidsierradz commented on #69
I'm experiencing the same slow behavior in big files with a lot of persistent history (like 2 to 3 minutes to open mundo the first time), if I do `syntax off` before opening mundo, it opens instantly.

[2019-07-27 09:04] cridemichel opened #83 "Python fatal error toggling on Mundo"
Dear All,
first of all thank you very much for this very useful and well done vim plugin.
I am using macvim (VIM - Vi IMproved 8.1 (2018 May 18, compiled Jun 11 2019 08:22:43)
macOS version Included patches: 1-1517) and, on toggling on Mundo, I frequently stumble upon the following python error:

Error detected while processing function mundo#MundoToggle[1]..<SNR>117_MundoToggle[4]..<SNR>117_Mundo

[2019-07-28 23:55] voldikss opened #84 "Use floating-window or popup to display diff"
Hi, would you consider to add the floating-window/popup support?

[2019-08-06 15:06] dsummersl commented on #84
I personally am not interesting in implementing 'neovim only' features - but if someone else is interested by all means!

[2019-10-19 21:45] sdothum opened #86 "Current position on initial MundoToggle"
On the *initial* invocation of MundoToggle for a buffer, the tree graph cursor position always appears to be row 1 regardless of where the "@" marker is.

Is this the expected behaviour? (on Voidlinux, vim 8.1)

[2019-11-09 18:32] sdothum opened #87 ""wincmd w" error on g:mundo_right = 1"
When g:mundo_right = 1 (for right hand side __Mundo__ window), applying the selected history change causes a "3wincmd w" message error.

The change is applied, though (which is good).

[2020-01-10 13:14] horseinthesky opened #88 "Mundo init error: A supported python version was not found."
After I installed NVIM from snap Mundo stop working:
[code]
when try to `:MundoToggle`.

NVIM version:
[code]

[2020-01-10 17:20] horseinthesky commented on #88
Found out it requires `pynvim` to work.

[2020-01-10 17:20] #88 closed

[2020-01-21 18:33] simnalamburt commented on #83
Closed by https://github.com/simnalamburt/vim-mundo/pull/89

[2020-01-21 18:33] #83 closed

[2020-01-26 09:28] thepenguinthatwants opened #90 "Error invoking mundo"

[2020-01-26 09:30] simnalamburt commented on #90
I have no problem with invoking mundo. Can you describe the situation or copy-paste your error messages?

[2020-02-16 16:35] eyalk5 opened #91 "Very very slow"
Hi, I am on latest version of mundo , neovim 0.5 .

When I tried to open it,  it hanged for more than 10 minutes, and it still hasn't opened.
I believe eventually, it would be opened as I remember delays of 5 minutes.
The file is text file 43 kb.

I did made a lot of changes along the time.
I do have some "memory pressure" in my OS, as appeared in activity monitor (like close to 16gb of ram usage,

[2020-02-21 09:00] BlueDrink9 opened #92 "Run __mundo__ autocmds earlier"
I use some autocmds to set the default filetype for new buffers:

[code]

For some reason, the combination of the first and last autocmd in that list breaks mundo, causing the `__mundo__` files to be opened as actual non-hidden new files, with ft=scratch.

Changing the MundoAug groups to `BufNewFile` instead of `BufEnter` fixes this.

This *would* mean re-entering an existing Mundo window wouldn't

[2020-04-22 08:12] hzfmer commented on #90
Hi I cannot call Mundo either, my error message is:
![image](https://user-images.githubusercontent.com/28425640/79957175-0da15a00-8436-11ea-9c80-1f214becb26a.png)

The format looks strange, but it seems to fail to incorporate python. I am using Anaconda, and I have set `let g:python3_host_prog = '$HOME/programs/anaconda3/bin/python'`

[2020-04-22 12:36] dsummersl commented on #90
Ooh, that looks horrible! What platform are you on? What vim version?

[2020-04-22 17:27] hzfmer commented on #90
@dsummersl
My platform is:
![image](https://user-images.githubusercontent.com/28425640/80013284-7ebb2e80-8483-11ea-935e-52454b071570.png)
Vim version: version 8.1.1700

I installed the plugin using vim-plug manager.  I suspect some issue with Python, but I have no idea how to find it out..

[2020-05-07 17:41] thepenguinthatwants opened #94 "Doesnt work if also have animate and lens plugins"
Hi!
For some reasons with these plugins

[code]

mundo cant choose other objects and it just when pressing j it randomly jumps into other buffers.

[2020-05-07 18:13] thepenguinthatwants opened #95 "Other options to revert contents of change?"
Pressing return on a state (or double clicking on it) will revert the contents of the file to match that state.

Seems like I've mapped return on something else as this doesnt work. Does double click mean clicking by mouse? Is there any way to map revert content to U or something?

[2020-05-09 03:11] BlueDrink9 commented on #92
@simnalamburt do you have any thoughts on this?

[2020-05-09 07:25] simnalamburt commented on #92
@BlueDrink9 OMG sorry to keep you extremely late.

We used `BufNewFile` in long time ago and changed it into `BufEnter` intensionally: https://github.com/simnalamburt/vim-mundo/pull/74

Well.. Since `s:MundoSettingsGraph()` and `s:MundoSettingsPreview()` is not that expensive function, fixing `autoload/mundo.vim` like this will both keep #74 and fix your issue:

[code]

But well.. I'm not sure if

[2020-05-09 07:28] simnalamburt commented on #95
@thepenguinthatwants You can change the Mundo keymap with `g:mundo_mappings` option. :) Thank you for using Mundo!

https://github.com/simnalamburt/vim-mundo/blob/046fc0664b953ab17153da379df0b9fd34b85ec1/doc/mundo.txt#L192-L209

[2020-05-09 07:28] #95 closed

[2020-05-09 07:33] simnalamburt commented on #70
This issue has been fixed by https://github.com/simnalamburt/vim-mundo/pull/74

[2020-05-09 07:33] #70 closed

[2020-05-09 07:41] simnalamburt commented on #94
Thank you for the report and I successfully reproduced the problem.

Well... I don't know the detail of implementation of animate.vim and lens.vim. But this is my theory.

- Animate.vim and Lens.vim want to resize "current" buffer
- Everytime you type <kbd>j</kbd> key in Mundo, it updates editor buffer, mundo preview buffer, and mundo buffer simultaneously. Well, it changes what "current" buffer i

[2020-05-09 07:46] thepenguinthatwants commented on #94
Yeah you are right! Its certainly not a problem of this plugin. Mundo has always being very nice plugin.

Its just that I was suprised for it to affect mundo.

[2020-05-09 07:46] #94 closed

[2020-05-09 07:49] simnalamburt commented on #94
@thepenguinthatwants Well this is just a theory, and there is a chance that Mundo actually has a problem. 😅 I don't know how to do it yet but maybe vim-mundo can workaround this problem without changing animate.vim or lens.vim

Please let me know if it there is an actual issue of vim-mundo, or if you find out how to workaround this problem. Thanks!

[2020-05-09 08:19] BlueDrink9 commented on #92
I see. #74 is definitely a reason to keep using `bufenter`. For me, the only thing that actually affects me is when the buffer *filetype* is set, so if you wanted to make the smallest possible change, separating out setting the filetype and only having that set with `bufnewfile` would work. I can't imagine a world where setting it on `bufenter` would be needed for anything.

[2020-05-09 08:23] BlueDrink9 commented on #92
Alternatively, if it's just `s:MundoSyntaxGraph()` that #74 needs on bufenter, maybe that could be called separately on bufenter

[2020-05-09 08:33] thepenguinthatwants commented on #95
let g:mundo_mappings = {
           \ '<CR>': 'preview',
           \ 'o': 'preview',
           \ 'j': 'move_older',
 }

When I added this line on my vimrc I've got

[code]

[2020-05-09 08:52] cridemichel opened #97 "vim-mundo crash"
Hi,
first of all I have to say that I found this plugin very useful and I appreciate a lot what you are doing!  I am having the following odd behavior: if you open vim-mundo and you either press 'r' or 'd' both mundo windows close suddenly.
To reproduce the issue I prepared the following minimal .vimrc file:
[code]
thank you for you help,
best Cristiano

[2020-05-09 08:56] simnalamburt commented on #95
@thepenguinthatwants Remove the trailing comma like this:

[code]

I tried it and it works perfect!

[2020-05-09 09:03] simnalamburt commented on #97
Hi @cridemichel! Thanks you for reporting the bug in detail.

I copied your vimrc and invoked Mundo and actually it worked fine in my environment. I think something else in your development environment have caused this issue. Can you share more information?

![image](https://user-images.githubusercontent.com/4435445/81469266-11e3ba80-921f-11ea-83ba-ff143f3c06a5.png)

My env:

[code]

Thanks!

[2020-05-09 09:03] simnalamburt commented on #97
And if there's any error message, I'd love to see it :)

[2020-05-09 09:13] cridemichel commented on #97
Hi,
thank you for the prompt reply.  Unfortunately I am not getting any error.
My env is the following:
[code]
and
[code]
and
[code]

best C.

[2020-05-17 13:40] lrustand commented on #71
I am also experiencing this problem, and I must say it looks very very horrible when combined with highlighting of trailing whitespace. This is how it looks for me:
![image](https://user-images.githubusercontent.com/13719791/82148475-8ee0e680-9854-11ea-989e-80b9536c46c4.png)

[2020-05-17 16:34] nbossard commented on #71
Just add mundo filetype in your trailing whitespace plugin.
e.g. :
[code]

[2020-05-17 17:56] lrustand commented on #71
I don't use that plugin, and anyway I would prefer to fix it in vim-mundo. I'm trying to fix it myself, however I can't seem to find out where in the code the text gets printed to the vim window. I found where the text strings are assembled in the python code (graphlog.py, function generate), but the trailing whitespace is added elsewhere (maybe in a vim script). I have managed to remove the white

[2020-05-17 18:10] lrustand commented on #71
A weird thing is that if I close and reopen Mundo the whitespace disappears.

[2020-05-23 14:57] jmolero opened #98 "Add a way to clear the history or remove the persistent undo file like undotree.vim"
Would it be possible to add a way to clear the history like undotree.vim does. I checked but could find exactly how it does it.

Thanks for this plugin!

[2020-05-26 07:58] cridemichel commented on #97
Hi,
is it enough the information which I provided or you something else?
best C.

[2020-05-26 09:28] simnalamburt commented on #97
Hi @cridemichel! It is a period of final exams at my university, so I am very busy these days. 😢 I'll try to reproduce it when I have some free time. Thanks!

[2020-05-26 09:29] cridemichel commented on #97
no problem, thank you for the reply
and good luck for your exams!

Cristiano De Michele
cristiano.demichele@gmail.com

[2020-07-19 00:52] resolritter commented on #14
I'm noticing that it's most slow on the first startup, as mentioned here:

https://github.com/simnalamburt/vim-mundo/issues/69#issuecomment-514671319

I'm also noticing that, when I open Mundo for the first time, the last node's diff is rendered before jumping to the top, then it renders again - please pay attention to the start of this video and notice how the diff changes twice.

https://gfycat.

[2020-07-19 01:09] resolritter commented on #91
According to my findings so far, the main culprit is not the amount of nodes, nor the rendering code for formatting the graph's output, but the fact that diffs are computed upfront - this shouldn't be needed if `g:mundo_inline_undo` is `false`, but even when it's `true`, it should only be computed for the currently visible nodes. I've left a comment with more details and a suggestion there:

https

[2020-07-19 05:08] simnalamburt commented on #91
Thanks for the report @eyalk5, @resolritter! Looks like vim-mundo is performing unnecessary calculation during startup. I don't have enough time to fix this issue for right now, but I'll try to make some spare time within this month. 😢

Looks like this issue is duplicate of #14, I'll close this issue and continue the conversation overthere to consolidate information into one.

[2020-07-19 05:08] #91 closed

[2020-07-19 05:14] simnalamburt commented on #14
I've reopened this issue as @resolritter suggested. I think I know what the cause is, but I haven't had time to fix it yet. I'll try to make some spare time.

[2020-09-14 17:55] pkfm commented on #94
you can disable `lens.vim` for specific filetypes, namely `Mundo` and `MundoDiff`, with the
`g:lens#disabled_filetypes` options. i.e.

[code]

you can determine a buffer's filetype with the command `:set ft?`.

it seems there was a problem with `lens.vim` and `animate.vim` after all and setting this option does not functin as expected unless `animate.vim` is disabled. see [issue #12](https://githu

[2020-10-02 08:25] 00sapo opened #100 "Add tags and tags switch commands"
It would be useful to have a command to tag versions (similarly to git tags) and a command to switch to a certain tag version.

For instance, when you're debugging code, you often need to observe the program behavior with different strategies, but you don;t want to put wrong code on git...

[2020-10-10 09:23] Xblow opened #101 "Trailing spaces in Mundo window"
I was wondering if it's possible to **remove trailing spaces** in the Mundo preview window.
I usually mark extra whitespace and I noticed there is unnecessary whitespace in Mundo tree viewer.
You can reproduce it with
[code]
with mundo window open.
Over, it's an amazing plugin, thank you! :+1:

[2020-10-11 07:43] simnalamburt commented on #101
I agree that this is an issue and I think it's possible to fix. I'll try to strip the whitespaces or don't append the whitespaces in the first place later.

[2020-10-20 07:49] simnalamburt commented on #100
To add tag support, we'll need to store the tag information somewhere. Does vim undotree have such feature?

Currently, vim-mundo is just a fancy frontend for vim's undotree feature, it doesn't have any external storage or something.

[2020-11-05 07:50] cridemichel opened #103 "trying to show undo tree of a popup window generates errors"
Dear Developer,
if mundo tree is shown and I open a preview window (e.g. by fzf vim plugin), an error
occurs since vim-mundo tries to show the undo tree of the preview window.
I created a pull request for preventing vim-mund to show the undo tree of a preview window, thus suppressing
the error messages,

best Cristiano

[2020-11-05 07:55] cridemichel commented on #97
Dear Developer,
I hope your exams went well :-),
any news on this?
best C.

[2020-11-08 13:16] simnalamburt commented on #103
Closed by https://github.com/simnalamburt/vim-mundo/pull/102

Thanks for you contribution! ✨👍✨

[2020-11-08 13:16] #103 closed

[2020-11-08 13:20] simnalamburt commented on #97
Sorry for the late update 😅 I finished the spring semester well, and now I am dealing with the fall semester.

Unfortunately I'm still failing to reproduce this issue.. so sorry maybe I need to prepare some exact same environment 😢

[2020-11-08 15:29] cridemichel commented on #97
Dear Hyeon,
what I discovered is that the issue is related to the python script
mundo.py. Something bad happened
when executing the following function:

[code]

in particular the line marked with an arrow seems to be the culprit. Is it possible that
the temporary file called filename is not properly created?
When I will have time, I will try to investigate more the issue,

best Cristiano

Cristian

[2020-11-08 16:24] cridemichel commented on #97
Dear Hyeon,
I think I have finally fixed it.
The problem was the following instruction:

[code]

inside the function

[code]

in the file mundo.py.
Indeed, the file called filename in my existed already and it was
not able to overwrite it. An easy workaround
is to replace this line with:

[code]
where a ‘!’ is added after w, thus forcing the writing of the file filename,

I have just created a cor

[2020-11-08 16:49] cridemichel opened #105 "'r' and 'd' do same thing"
Dear Developer,
by pressing in the "__Mundo__" buffer the keys 'r' or 'd'
one obtains in both cases a vert diffpatch of undo and current buffer.
I have just created a pull request to make mundo do what is reported in the help
about pressing 'r',  i.e. showing in the preview window the differences with the
previous state,

best Cristiano

[2020-11-08 19:04] simnalamburt commented on #105
Closed by https://github.com/simnalamburt/vim-mundo/pull/104

[2020-11-08 19:04] #105 closed

[2020-11-08 19:06] simnalamburt commented on #97
Nice catch!! Thanks for your contribution ✨👍💯👍✨

Closed by https://github.com/simnalamburt/vim-mundo/pull/104

[2020-11-08 19:06] #97 closed

[2020-12-18 14:04] AdamTillou opened #106 "Failed to load python host"
When I try to open the Mundo window, I get the error
`Failed to load python host. You can try to see what happened by starting nvim with $NVIM_PYTHON_LOG_FILE set and opening the generated log file. Also, the host stderr is available in messages.`
I tried setting $NVIM_PYTHON_LOG_FILE, but the file remains empty. I also tried creating a completely blank config with nothing but Mundo to make sure n

[2020-12-20 01:09] simnalamburt commented on #106
![image](https://user-images.githubusercontent.com/4435445/102702730-41749e00-42a9-11eb-87be-ddff656c9a1c.png)

Sorry I failed to reproduce your error. I just tried mundo with nvim and it worked fine. May I ask your development environment information to reproduce this error?

For example, this is my environment:

[code]

[2020-12-20 07:24] AdamTillou commented on #106
Hi, thanks for the quick response.
Here's the information you asked for
[code]

I also realized when testing a few things that if I use the -u flag when opening nvim Mundo opens and functions just fine, even if I specify the path to the default init.vim file. So if nothing else I can just lias nvim to have the flag specified in my bashrc.

[2020-12-20 07:31] simnalamburt commented on #106
This is weird. Our nvim and pynvim version is same. Do other neovim plugins with python extensions works fine? I think this is an issue of neovim not this plugin.

[2020-12-20 07:48] AdamTillou commented on #106
I don't know of any other plugins that I use that use python, so it very well could be a neovim issue. For now it works fine if I jus alias nvim to nvim - u [config path] so I will just stick to that.

[2020-12-20 07:49] #106 closed

[2020-12-20 13:47] dsummersl commented on #106
Can you run `:checkhealth` and verify that you have a python3 provider is configured?

[2020-12-22 01:06] AdamTillou commented on #106
Yes, the python3 host is installed.

[code]

[2021-02-25 08:27] ruffson commented on #106
I have the same problem. I am on Fedora as well and use `miniconda` but I tried it without the virtualenv from conda with the system python.

This is the error when I try to toggle:
[code]
I also tried setting that var but nothing was written (I am using `fish` but tried with `bash` as well).

[code]

And when I do `checkhealth`, the python3 provider is:

[code]

In my `init.vim` I set my `undodir

[2021-02-25 08:38] simnalamburt commented on #106
It is unlikely that vim-mundo is the cause of the Python load failure. This is most likely caused by the compilation flags of your vim distribution.

[2021-02-25 08:45] ruffson commented on #106
Okay, too bad then.

[2021-03-03 07:07] TamaMcGlinn commented on #20
Certainly, it is a non-trivial feature. But, (along with undo'ing just that change) if possible, it would be a very useful feature. Quite often the changes would not conflict.

I think the best way would be to construct a git repository in-memory of the current file, and apply the 3 changes required (the state before the selected change, the state at that change, and the current state) as three co

[2021-03-07 15:10] dsummersl commented on #20
We do use difflib under the covers to generate the unified diff format; we could simply implement 'apply patch' two a set of strings. This provides some options: https://stackoverflow.com/questions/2307472/generating-and-applying-diffs-in-python

My best guess of a heuristic:
 * Generate the unified diff of the two versions of the buffers (already being done in mundo). Suppose the diff is from ver

[2021-04-08 14:13] AchmadFathoni opened #109 "Mapping for MundoToggle doesn't work with "Ctrl-m""
Using neovim 0.4.4 with this init.vim

[code]
When mundo graph is hidden and I press the Ctrl+m, mundo graph is able to appear and my cursor is inside it.  If I press Ctrl+m again, nothing happen(I expect the mundo graph to hide). To successfully hide the mundo graph, I must move my cursor to the opened file buffer and then hit Ctrl+m.

This behavior is absent when use F2 as `:MundoToggle` shortcu

[2021-04-08 22:25] simnalamburt commented on #109
Successfully reproduced this bug, don't know the cause yet.

[2021-04-08 23:01] AchmadFathoni commented on #109
`<C-n>` is also work. Maybe arbitrary ctrl button combination is not the cause.

[2021-04-23 17:06] kishikaisei opened #110 "Customisable tree visuals"
Adding the option to customise how the tree is rendered, not unsimilar to telescopes border setting:
`borderchars = { '─', '│', '─', '│', '╭', '╮', '╯', '╰' },`
The goal is to be able to use icons from NerdFont, and such.

[2021-06-23 21:06] macthecadillac commented on #106
After digging around in my `neovim` configuration, the culprit, at least for my installation, is the configuration entry `g:mundo_preview_bottom`. Commenting that out fixes the issue.

[2021-06-23 21:08] macthecadillac commented on #106
After digging around in my configuration, the culprit is `g:python_host_prog`. I guess if your system doesn't have python2 installed then that gets in the way.

[2021-06-27 21:25] liaden commented on #84
I was wanting to just have the history and the diff put together in a floating window with the history on the left, diff on the right since that allows me to see the changes pretty easily when I already have a lot of splits open.

Would it be worthwhile for `MundoShow` to take a buffer number as an argument? Users could easily create a small function then that grabs the current buffer number, does

[2021-07-06 16:49] idbrii commented on #100
Why not? You could make multiple branches with different experiments. That would allow you to quickly switch between them (including groups of files instead of individual ones), diff them, and build upon them. And when you're done, delete the branches. All without pushing that experimental code anywhere.

However, maybe mundo can better communicate what the numbers in the undotree mean. Given the

[2021-07-06 17:26] idbrii opened #112 "Opening cmdwin from mundo window spews errors coming from MundoRefreshDelayed"
If you open cmdwin (default `q:` or `:<C-f>`) from inside the mundo window, you get a screen full of errors.

# Minimal vimrc

[code]

# Repro

1. `gvim -Nu ~/.vim/reprovimrc.vim -U NONE c:\scratch\bug.txt`
1. F2
1. F3

You get these errors:

[code]

# Version

mundo 2a12e25c4236a46d09e4d038560f0412bbdb117f

[2021-07-06 17:35] idbrii commented on #109
This is a limitation of vim.

`<C-m>` seems to be the same as `<CR>`, so that mapping is effectively the same as:

    nnoremap <CR> :MundoToggle<CR>

Notice how highlighting a node and doing `C-m` results in mundo loading that state -- just like it would for CR.

Also see how vim's `:help CTRL-M` (and c_ and i_ variants) all show C-m and CR bound to the same commands. (I don't know why vim allows

[2021-07-09 11:59] #76 closed

[2021-07-13 08:03] arp242 opened #114 "Error when pressing ? if g:mundo_help is enabled"
When you set `g:mundo_help` pressing `?` errors out:

[code]

It does hide the help though, and subsequent `?` presses work as expected.

vim 8.2.3156 with Python 3.9.6 on Linux.

[2021-07-13 08:19] arp242 commented on #114
Somewhat related issue: by default mundo doesn't allow you to scroll in the "header", but if you set both:

    let g:mundo_help = 1
    let g:mundo_header = 0

Then mundo won't allow you to scroll all the way up.

[2021-07-13 08:47] arp242 opened #116 "No good way to add <nowait> to mappings"
I'd like to add `<nowait>` to the mundo mappings, so e.g. `q` doesn't wait on the timeout and is immediate.

Adding this by default can be surprising, so that's probably not a good idea. Right now the only way is remapping everything with:

[code]

Which isn't ideal, and the only reason it works now is probably an (unexpected) implementation detail as it does:

    exec 'nnoremap <script> <silent>

[2021-11-03 00:01] jeetsukumaran commented on #14
Hi, is there a workaround for this in the meantime?

[2021-11-08 17:08] mrHola21 opened #117 "Python error"
I am on Manjaro Linux and have python3 installed and its in the path (when `python3` typed in the terminal the python shell opens).

when I open neovim (latest version) and type `:MundoShow` it says that I don't have a supported python version.

python3 version = 3.9.7
python2 version = 2.7.18
kernel version = 5.4.150-1-MANJARO
plugin manager = Vim-Plug

and I have git setup if that helps

[2021-11-09 08:07] simnalamburt commented on #117
AFAIK neovim requites pynvim package to be installed to use python extensions. Do you have pynvim?

[2021-11-09 10:44] mrHola21 commented on #117
Yes install pynvim solved the error but don't you think you should include it in  the readme . btw this one of the best plugins :)

[2021-11-09 10:44] #117 closed

[2021-11-09 10:56] simnalamburt commented on #117
@mrHola21 Good point. I've updated it!

<img width="418" alt="image" src="https://user-images.githubusercontent.com/4435445/140911812-f68d24ef-8bb4-440a-8cbb-bcaf12a86332.png">

[2021-11-26 06:31] axieax opened #118 "Weird Window Focus"
Hi, I've just switched from UndoTree to vim-mundo and am encountering an annoying issue. After activating the Mundo menu, it seems that none of the default keybindings nor auto_preview work, requiring me to switch to another window and back before these features work, as demonstrated in the video below. Not sure why this happens and whether or not this is due to [my configs](https://github.com/axi

[2021-12-02 05:16] simnalamburt commented on #118
I'm using Neovim v0.6.0 and having trouble with reproducing this issue. I'll try your vimrc soon.

[2021-12-31 15:59] axieax commented on #118
Not sure what changed but I'm on v0.6 now and it works fine :)

[2021-12-31 15:59] #118 closed

[2022-01-03 13:21] RyannDaGreat opened #119 "Feature Request: Hide Non-Writes"
Is there a way to hide non-w elements from the undo tree? It would make the tree shorter and more concise. The way it is now, it's super duper tall but I don't always need the granularity of every single undo and redo.
Thank you,
Ryan

[2022-06-19 20:50] dsummersl commented on #14
@resolritter I happened to be wandering reddit and saw this message https://www.reddit.com/r/neovim/comments/qk7uk1/telescope_pluginextension_that_lets_you_visit/ where-in someone mentioned this issue (although I created this fork lo many years ago I don't use this plugin much anymore). Thanks for you sleuthing! I tried out your recommended and it seems to work great.

@simnalamburt maybe you coul

[2022-06-20 06:39] simnalamburt commented on #14
Merged https://github.com/simnalamburt/vim-mundo/pull/122

[2022-07-06 03:47] calebeby opened #123 "Error when opening mundo if undo history is in `undofile`/`undodir`"
Here are the steps I did:

1. Add to vim config:
[code]
2. Edit a file, creating some edit history: `nvim ~/.vimrc`
3. Close file
4. Open file again
5. Open undo tree in file

Then this error pops up:

[code]

I repeatedly press `<esc>` to close the error message and it keeps popping up, exactly the same, with the same undo number in the message.

If I switch to the editor view and make edits to t

[2022-07-16 20:03] TamaMcGlinn commented on #123
Since every `:PlugUpdate` breaks this again, a slightly more permanent fix is to use my fork which I will keep at 595ee33 until this issue is fixed:

[code]

I will delete my fork when this issue is fixed, so you get an error and will know to switch back.

[2022-07-17 08:22] simnalamburt commented on #123
Fixed by https://github.com/simnalamburt/vim-mundo/commit/3c7e008a9922702be979dbfe3c5280313f53618b

[2022-07-17 08:22] #123 closed

[2022-07-17 08:24] simnalamburt commented on #114
Cannot reproduce this issue, considering it as fixed.

[2022-07-17 08:24] #114 closed

[2022-07-17 08:26] simnalamburt commented on #112
Could reproduce this issue with neovim v0.7.2, Python v3.10.5, pynvim v0.4.3, vim-mundo 3c7e008.

[2022-07-17 08:29] simnalamburt commented on #109
Confirmed that "control + m" has same input code with "enter", closing this issue since it's not an issue of vim-mundo.

[2022-07-17 08:29] #109 closed

[2022-07-17 08:32] simnalamburt commented on #87
Cannot reproduce this issue, considering it as fixed.

[2022-07-17 08:32] #87 closed

[2022-07-17 08:34] simnalamburt commented on #86
This is expected behaviour, but I agree that it would be better if the tree graph cursor appears to the "@" marker.

[2022-07-17 19:14] calebeby commented on #123
Thank you @simnalamburt, works great!

[2022-08-24 18:18] CharlesARoy opened #125 "Feature: Undo or Redo a Specific Change in the Undo Tree?"
Apologies if I missed something in the docs that explains whether this is possible.

I'm wondering whether Mundo (or any other Undo Tree manager you're aware of) has the ability to undo (or redo) a specific change in the undo tree without reverting the entire file to that state? Sort of like doing a git merge of those lines back into the current version of the file.

For example, say I add a few l

[2022-08-24 18:38] dsummersl commented on #125
Sort of possible - you can pull up the undo tree in this plugin, go back to the specific undo your interested in and hit the 'd' key. This will 'vim diff' that specific change against your current file. You can then pull in whatever changes your interested in using the standard diff mappings (do, dp, :diffget and the like)

[2022-08-24 20:37] CharlesARoy commented on #125
@dsummersl that works very well, thanks for the help!

[2022-08-24 20:37] #125 closed

[2022-10-26 23:24] thisisrandy opened #126 "Setting `g:mundo_right` and `g:mundo_close_on_revert` causes error on reversion"
If both `g:mundo_right` and `g:mundo_close_on_revert` are set to `1`, an error is issued when we revert to the selected state. This is the error when a single window is open. The `2` would change otherwise:

[code]

This happens on [line 425 of autoload/mundo.vim](https://github.com/simnalamburt/vim-mundo/blob/3c7e008a9922702be979dbfe3c5280313f53618b/autoload/mundo.vim#L425). I dug around a little

[2022-10-27 03:05] thisisrandy commented on #126
I realized that my fix still allows `winrestview` to be called for the wrong window, which can drastically change the buffer view. This would also be true independent of my fix if `g:mundo_right` was not set. The better fix is to capture the mundo window's id and then check after the python call if it still exists, running `(winnum)wincmd w` and `winrestview` only if it does.

[2022-11-04 19:43] thisisrandy commented on #126
I somehow forgot to create a PR before. Now open.

[2022-11-05 15:22] #126 closed